doctype html
html
  head
    meta http-equiv="Content-Type" content="text/html; charset=utf-8"
    meta name="viewport" content="width=device-width, initial-scale=1.0"
    title email_subject_ggv
    css:
      html,
      body {
        margin: 0 auto !important;
        padding: 0 !important;
        height: 100% !important;
        width: 100% !important;
        
      }
      @media only screen and (max-width: 600px) {
        .content {
          padding: 64px 48px !important;
        }
      }
      @media only screen and (max-width: 375px) {
        .content {
          padding: 48px 24px !important;
        }
      }
      #body{
        background-color: #f8f8f9;
      }
      hr{
        margin: 8px 0 24px 0;
        border: 0;
        width: 100%;
        height: 1px;
        background: #dfe1e2;
      }
      table#page{        
        max-width: 600px !important;
        margin: 0 auto !important;
        padding: 0 !important;
        font-family: Arial;
        font-size: 16px;
        line-height: 28px;
        text-align: left;
        color: #00121a;
        border-collapse: collapse;
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
      }
      table{
          width: 100%;
      }
      #header{
        width: 100%;
        background: #0088BF;
      }
      #header td div{
        width: 176px;
        display: block;
      }
      #header td a img{
        width: 100%;
      }
    css:
      #content{
          padding: 56px 48px;
          background: #ffffff;
      }
      #content span, #content span p{
        font-size: 16px;
        line-height: 28px; 
        color: #00121a;
      }
      #content #order-id{
          margin: 16px 0 0 0;
          font-size: 18px;
          line-height: 32px;
          font-weight: bold;
          color: #00121a;
      }
      #content .label{
        display: block;
        font-size: 12px;
        line-height: 16px;
        color: #9fa6a9;
      }
      #greetings p{
        margin: 0;
        font-size: 16px;
        line-height: 28px;
        color: #00121a;
      }
      #greetings h1{
        margin: 16px 0 0 0;
        font-size: 32px;
        letter-spacing: -0.32px;
        line-height: 40px;
        font-weight: bold;
        color: #0088bf;
      }
    css:
      #bottom{
        width: 100%;
        padding: 64px 24px;
        background: #f0f1f2;
        color: #00121a;
        font-size: 12px;
        line-height: 24px;
        text-align: center;
      }
      #bottom img{
        width: 48px;
        height: 48px;
        margin-right: 16px;
      }
      a{
        text-decoration: none;
      }
      #bottom #links span{
        display: inline-block;
        color: #788186;
      }
      #bottom #copyright{
        font-size: 12px;
        text-align: inherit;
        color: #788186;
        margin: 0;
      }

      
  body#body
    center
      table#page cellspacing="0" cellpadding="0"
        tbody
          tr
            td
              /<!-- HEADER START-->
              table id="header"
                tr
                  td align="center" style="padding: 24px 0;"
                    a href="#{@gogox_logo_url}" target="_blank"
                      div
                        img src="http://s3-ap-northeast-1.amazonaws.com/wp-gogovan.com/wp-content/uploads/sites/2/2020/06/30065143/logo.png" alt="logo"
              /<!-- HEADER END -->

              /<!-- CONTENT START -->
              table id="content" cellspacing="0" cellpadding="0"
                tr
                  td#greetings
                    /<!-- GREETINGS -->
                    p dear client #{@name}TESTE
                    h1 #{@heading_1_ggv}TESTE
                    /<!-- TEXT -->
                    p style="margin: 16px 0 0 0;" #{@heading_2}TESTE
                    /<!-- ORDER ID -->
                    p#order-id #{@order_id}TESTE

                    /<!-- DIVIDER -->
                    hr
                    /<!-- TIME -->
                    table cellspacing="0" cellpadding="0"
                      tr
                        td
                          p.label order_time
                          p #{@order_time}TESTE
                        td
                          p.label pickup_time
                          p #{@pickup_time}TESTE
                    
                    /<!-- DIVIDER -->
                    hr style="margin: 24px 0;"
                    /<!-- ROUTE -->
                    p.label from_ggv
                    p #{@from_ggv}TESTE


                    p.label style="margin-top: 16px" to_ggv
                    p #{@to_ggv}TESTE

                    p.label style="margin-top: 16px;"extra_requirement
                    span #{@extra_requirement}
                    p #{@extra_requirement}TESTE
                    p #{@extra_requirement}TESTE
                    p #{@extra_requirement}TESTE
                    p #{@extra_requirement}TESTE
                    /<!-- DIVIDER -->
                    hr style="margin: 24px 0;border: 0;width: 100%;height: 1px;background: #00121a20;"

                    /<!-- ROUND & BREAKDOWN -->
                    p.label driver_name
                    p #{@driver_name}TESTE
                    p.label style="margin-top: 16px;" license_plate
                    p #{@license_plate}TESTE

                    /<!-- DIVIDER -->
                    hr style="margin: 24px 0"
                    /<!-- TOTAL -->
                    p.label Total fee
                    p style="margin: 0;font-size: 32px;line-height: 40px;font-weight: bold;color: #00121a;" #{@total_fee}TESTE

                    /<!-- DIVIDER -->
                    hr style="margin: 24px 0"

                    /<!-- DISCLAIMER -->
                    p style="margin: 16px 0 0 0; font-size: 16px; line-height: 28px; color: #00121A" #{@disclaimer_ggv}TESTE
                    p style="margin: 16px 0 0 0;font-size: 16px;line-height: 28px;color: #00121a;" enquiries

              /<!-- CONTENT END -->

              /<!-- FOOTER START -->
              table#bottom cellspacing="0" cellpadding="0"
                /<!-- GOGOX.COM -->
                tr
                  td style="font-size: 18px; font-weight: bold;" 
                    | visit_us 
                    a href="#{@gogox_com_url}" target="_blank" style="color: #0088bf;" gogox_com
                /<!-- SOCIAL MEDIA ACCOUNT -->
                tr
                  td style="padding: 24px 0 0 0;"
                    a href="https://facebook.com" target="_blank"
                      img src="http://s3-ap-northeast-1.amazonaws.com/wp-gogovan.com/wp-content/uploads/sites/2/2020/06/30065139/facebook.png" alt="Facebook"
                    a href="#{@instagram_url}" target="_blank"
                      img src="http://s3-ap-northeast-1.amazonaws.com/wp-gogovan.com/wp-content/uploads/sites/2/2020/06/30065409/instagram-2.png" alt="Instagram" 
                    a href="#{@youtube_url}" target="_blank"
                      img src="http://s3-ap-northeast-1.amazonaws.com/wp-gogovan.com/wp-content/uploads/sites/2/2020/06/30065145/youtube.png" alt="YouTube" 
                    a href="#{@linkedin_url}" target="_blank"
                      img src="http://s3-ap-northeast-1.amazonaws.com/wp-gogovan.com/wp-content/uploads/sites/2/2020/06/30065142/linkedin.png" alt="LinkedIn" style="margin-right: 0"

                /<!-- LINKS -->
                tr#links
                    td style="padding: 20px 0 0 0;"
                      p style="margin: 0!important"
                        a href="#{@privacy_policy_url}" target="_blank"
                          span privacy_policy  
                        span style="display: inline-block; margin: 0 8px!important;" |
                        a href="#{@terms_condition_url}" target="_blank"
                          span   terms_condition
                          /COPYRIGHT
                      span#copyright copyright                              
                /<!-- FOOTER END -->