doctype html
html
  head
    link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"
    title Slim Examples
    css:
        * {
            box-sizing: border-box;
            font-family: Arial, Helvetica, sans-serif;
            font-family: 'Roboto', sans-serif;
        }
        body{
            margin:0;
        }
        #page{                                
            background-color: #dcdddf;
            
            font-size: 14px;
        }
        a{
            text-decoration: none;
            color: inherit!important;
        }
        td{
            font-size: 15px;
            font-weight: 500;
            color: #1e3034
        }
        #mail{
            width: 600px;
            margin: auto;
        }
        #logo {
            width: 100%;
            / height: 100px;
            background-color: #0089c0;
        }
        #logo a{
        }
        #logo img{
            width: 176px;            
            margin: auto;
            padding: 24px 0;
            display: block;
        }
        #content{
            color: black;

        }
            
        #content{
            width: 600px;            
            background-color: white;                
            padding: 20px;
        }  
    css:
        h2{
            margin-bottom: 20px;
            margin-top: 35px;
            color: #0079a8;
            text-align: center;

        }
        hr{
            border: 1px solid #acacac;
            margin: 20px 0;
        }
        hr.main, .list>hr:last-child{
            border: 1px solid black;
        }
        div.group{
            padding: 20px 0;
        }
        .title{
            margin-top: 20px;
        }
        .item{            
            padding-top: 10px;
            display: block;
        }
        .item div{
            display: inline-block;
        }
        .label{
            width:150px
        }
        .text{
            
            word-break: break-all;
        }
        table{
            width: 100%;
        }
        td{
            padding-left: 0px;
            padding-right: 0px;
        }
    css:
        #fee{      
            width: 100%;
            display: block;
        }
        #price-label{
            float: left;                
        }
        #price{
            float:right;
            font-size: 20px;
        }
        small{
            font-size: 10px;
            color: #3f4e55;
        }
        #bottom{
            padding: 70px 0;
            background-color: #edeef0;
        }
        #bottom table{
            margin: auto;
        }
        table#social {
            width: 300px;
        }
        #social td{
            margin:20px;
        }
        #social a{
            border-radius: 100%;
            width: 50px;
            height: 50px;
            display: block;
            margin: auto;
            text-align: center;
        }
        #social a img{
            width: 100%;
            height: 100%
        }
        table#links {
            width: 500px;
            margin-top: 10px
        }
        table#links td{
           text-align: center;
           font-weight: bold;
        }
        table#links .separator{
            width: 2px
        }
        
  body
    #page
        #mail
            #logo
                a href="#{@gogox_logo_url}"
                    img src="http://s3-ap-northeast-1.amazonaws.com/wp-gogovan.com/wp-content/uploads/sites/2/2020/06/30065143/logo.png"
            #content style="background-color: #fff"
                h2#title Lorem ipsum dolor sit amet consectetur adipiscing
                table
                    tr
                        td
                            p Dear #{@name},
                    tr
                        td
                            p Duis erat lectus, iaculis nec nunc a, blandit maltis enim.
                br/
                hr.main/                
                / - if @items.any?
                / table#items
                /     - for @item in @items
                /     tr
                /         td.name = @item.name
                /         td.price = @item.price
               


                .list
                    table.group
                        tr
                            td
                                b.title Title
                        tr
                        tr.item
                            td.label
                                div Label
                            td
                                .text adsaasdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd                
                        tr.item
                            td.label
                                div Label
                            td
                                .text text   
                    hr/
                
                    table.group
                        tr
                            td
                                b.title Title
                        tr
                        tr.item
                            td.label
                                div Label
                            td
                                .text adsaasdddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddddd                
                        tr.item
                            td.label
                                div Label
                            td
                                .text text   
                    hr.main/
                    table
                        tr#fee
                            td width="100%"
                                #price-label
                                    b Total fee
                            td
                                #price 
                                    b $#{@fee}
                    hr.main style="margin-bottom: 10px"/
                    table
                        tr
                            td
                                p Duis erat lectus, iaculis nec nunc a, blandit mattis enim
                        tr
                            td
                                small
                                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a risus auctor, luctus justo in, porta ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                                        
                                        p Nulla pharetra viverra metus. Quisque convallis vehicula scelerisque. Nulla facilisi. Maecenas convallis pharetra pulvinar. Quisque in aliquam est. Fusce rutrum risus dapibus, efficitur erat ut, interdum justo. Pellentesque nec elit a mi consequat dignissim et sit amet ante.
            #bottom
                table#social
                    tr
                        td
                            a href="https://facebook.com/" target="_blank"
                                img alt="facebook" src="http://s3-ap-northeast-1.amazonaws.com/wp-gogovan.com/wp-content/uploads/sites/2/2020/06/30065139/facebook.png"
                        td
                            a href="https://instagram.com/" target="_blank"
                                img alt="instagram" src="http://s3-ap-northeast-1.amazonaws.com/wp-gogovan.com/wp-content/uploads/sites/2/2020/06/30065409/instagram-2.png"
                        td
                            a href="https://youtube.com/" target="_blank"
                                img alt="youtube" src="http://s3-ap-northeast-1.amazonaws.com/wp-gogovan.com/wp-content/uploads/sites/2/2020/06/30065145/youtube.png"
                        td
                            a href="https://www.linkedin.com/" target="_blank"
                                img alt="linkedin" src="http://s3-ap-northeast-1.amazonaws.com/wp-gogovan.com/wp-content/uploads/sites/2/2020/06/30065142/linkedin.png"
                table#links
                    tr
                        td
                            a href="https://company.com/" company.com
                        td.separator |
                        td
                            a href="https://privacy.com/" Privacy Policy
                        td.separator |
                        td
                            a href="https://terms.com/" Terms and Conditions
                            